<!DOCTYPE html>
<html>
<head>
<title>Test Salesforce Rest Api</title>
<style type="text/css">
body {
  font-family: Sans-Serif;
}
</style>
</head>
<body>
  <h3>
    Call Salesforce Rest Api
  </h3>
  <input type="submit" id="callout" onclick="callEndpoint()" value="Test Rest Api"/>
  <p id="message"></p>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="forcetk.js"></script>
  <script>
    var client = new forcetk.Client();

    // Bypass the proxy - you must whitelist your server in Setup | Security Controls | CORS
    client.proxyUrl = null;

    client.setSessionToken('<%= oauth.access_token %>', 'v33.0', '<%= oauth.instance_url %>');
    
    /* function callEndpoint() {
        client.create('Account', {
            Name: 'Test Rest Api'
        }, function(response){
            console.log(response);
            $("#message").html("Salesforce Rest Api Success");
        }, function(request, status, response){
            $("#message").html("Error: " + status);
        });
    } */
    
    function callEndpoint() {
        client.create('Lead', {
            FirstName: 'Test',
            LastName: 'Lead',
            Company: 'Test Company Lead'
        }, function(response){
            console.log(response);
            $("#message").html("Salesforce Rest Api Success");
        }, function(request, status, response){
            $("#message").html("Error: " + status);
        });
    }
    
  </script>
</body>
</html>
